/* warnings */
.ie_warning {
    display: none;
}

/* meme-bg-target */
.wrap {
    padding: 0;
    margin: 10px;
}

.top-container {
    clear: both;
}

.top-element {
    /* min-height:120px; */
}

div.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 200;
    width:100%;
    background-color: white !important;
}

.bottom-container {
    background-color: transparent;
}

.name-pink {
    background-color: hwb(323 41% 16%) !important;
    border-color: hwb(323 41% 16%) !important;
}

.name-red {
    background-color: #f03030 !important;
    border-color: #f03030 !important;
}

.bottom-element {
    width: 100%;
    padding-top: 5px;
    background-color: transparent;
}

#meme-bg-target {
    background-image: url("/images/template.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border: #CCC 1px solid;
    margin: 20px 0px;
    display: block;
    position: relative;
}

.loader{
    margin: 0 0 2em;
    height: 100px;
    padding: 1em;
    margin: 0 auto 1em;
    display: inline-block;
    vertical-align: top;
    position: absolute;
    right: 75px;
    bottom: 50px;
    z-index:100;
}
svg path,
svg rect{
    fill: #FF6700;
}

.photo {
    background: transparent;
    padding: 0px;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 264px;
    height: 220px;
}

.photo img {
    border: 0px;
    width: 100%;
}

#meme-preview {
    width: 100%;
    height: 100%;
    background: #FFF;
    border: #CCC 1px solid;
    margin: 0px;
    position: relative;
}

.meme-txt-area {
    border: #ff0000 2px dotted;
    min-height: 80px;
    max-height: 150px;
    line-height: 1 !important;
    cursor: move;
    font-size: 54px;
    line-height: 2.625rem;
    color: #121212;    
    font-weight: 100 !important;    
    font-family: 'GH Guardian Headline', Georgia, serif;
    font-feature-settings: "liga" 0;
    -webkit-font-smoothing: antialiased;
    clear: both;
    width: 100%;
    background: transparent;
    overflow: hidden;
    padding-left: 0px;
    padding-top: 0px;
}

.meme-name-area {
    border: none;
    padding: 20px;
    padding-top: 5px;
    color: #e05e01;
    cursor: move;
    font-style: italic;
    font-size: 54px;
    line-height: 2.625rem;
    font-feature-settings: "liga" 0;
    font-family: 'GH Guardian Headline', Georgia, serif;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
}

.meme-txt-area:focus {
    /*      outline: none; */
}

div#meme-canvas-container {
    display: inline-block;
    position: relative;
    width: 100%;
    height: 100%;
}

.debug {
    visibility: hidden;
}

.label-preview {
    color: #333;
    margin: 20px 0px 10px;
}

.download-container {
    margin-top: 35px;
}

[contenteditable=true]:empty::before {
    content: attr(placeholder);
    color: #888;
}

[placeholder]:empty::before {
    content: attr(placeholder);
    color: #888;
}

[placeholder]:empty:focus::after {
    content: "";
}

[placeholder]:empty:focus::before {
    content: "";
}

@media (max-width: 768px) {
    .btn-primary {
        margin: 2px 6px 2px 0px;
        font-size: 3vw;
    }
}

@media (min-width: 769px) {
    .btn-primary {
        margin: 2px 6px 2px 0px;
        font-size: 16px !important;
    }
}


/* Styles */
body {
/* background-color:blue;  */
}
.debug {
    background-color: blue;
}
.photo {
    height: auto;
    width: 270px;
}
#meme-bg-target {
    width: 720px;
    height: 360px;
    max-height: 360px;
    position: relative;
}
.meme-name-area {
    padding: 5px;
    font-size: 48px;
}
.meme-txt-area {
    min-height: 120px;
    max-height: 210px;
    font-size: 48px;
}

